
/**
 * 2.1 - ヘッダー
 */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: solid;
    border-color: #eeeeee;
}
.main-Logo{
    margin-left: 10%;
}
.link{
    display: flex;
    align-items: center;
    
}
.link-list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.link-item{
    text-decoration: none;
    color: #0071BC;
    font-weight: bold;
    display: flex;
    row-gap: 30px;
}
.icon-list{
    list-style: none;
    display: flex;
}
.icon-item{
    width: 65%;
}
/**