
/**
 * 2.1 - ヘッダー
 */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: solid;
    border-color: #eeeeee;
}
.main-Logo{
    margin-left: 10%;
}
.link{
    display: flex;
    align-items: center;
    
}
.link-list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.link-item{
    text-decoration: none;
    color: #0071BC;
    font-weight: bold;
    display: flex;
    row-gap: 30px;
}
.icon-list{
    list-style: none;
    display: flex;
}
.icon-item{
    width: 65%;
}
/**
 * 2.2 - フッター
 */
footer{
position: absolute;
bottom: 30px;
width: 100vw;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-link{
    color: gray;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.footer-icon-list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.footer-icon-item{
    list-style: none;
    width:65%;
}
small{
    display: flex;
    justify-content:center ;
    color: gray;
}
.copy{
    border-top: solid;
    border-color: #eeeeee;
    padding:20px;

}
/**
 * 2.3 - メインビジュアル
 */

/**
 * 2.4 - POSSEとは
 */

/**
 * 2.5 - イベント
 */

/**
 * 2.6 - 日常生活
 */

/**
 * 2.7 - 公式LINE
 */

/* 3.0 - Animation, JavaScript Object */
/* ============================================ */

/**
 * 3.1 - フェードイン
 */

/**
 * 3.2 - スライダー
 */
